@import 'jeet'
body
  font-family: 'Roboto', sans-serif
  color: rgba(0, 0, 0, 0.87)

a
  color: inherit
  text-decoration: none
  
+above(rupture.desktop-cutoff)
  .menu
    col(1/5)

  .main
    col(4/5)
