@import 'jeet'
body
  font-family: 'Roboto', sans-serif
  color: rgba(0, 0, 0, 0.87)
a
  color: inherit
  text-decoration: none
#root
  margin-top: 64px

+above(rupture.desktop-cutoff)
  .menu
    col(1/5)
    margin-right: 3% !important
  .main
    col(4/5)
